.css-dhvns5-MuiButtonBase-root-MuiIconButton-root{
    padding: 0 !important;
}
body{
    font-family: 'Public Sans', sans-serif !important;
  }


  @media (max-width: 800px) {
    .css-194ltor-MuiList-root{
        height: 91.5vh !important;
      }
  }
  @media (max-width: 600px) {
    .css-194ltor-MuiList-root{
        height: 91.5vh !important;
      }
  }