/* .car-form-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
  }
   */

   body {
    background-color: #efefef;
  }
  
  .profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
  }
  
  .file-upload {
    display: none;
  }
  
  .circle {
    border-radius: 50%;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .p-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    color: #999;
  }
  